body {
  background: #ffffff;
}
h1 {
  font-size: 28px;
}
.log-in {
  margin-left: 0;
  float: right;
  padding-right: 25px;
}
.log-in > li,
.top-social > li {
  display: inline-block;
  padding: 3px;
}
.box-login {
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  background: #F9F9F9;
}
.nav-tabs h4 {
  margin: 0;
  padding: 0 10px;
}
.tab-content > .tab-pane {
  border: 1px solid #ccc;
  border-top: none;
  padding: 30px 20px 10px 20px;
}
.tab-content {
  background: #fff;
}
.bg-pat2 {
  background: url('../images/bg-pat.png') repeat-x top;
  padding: 10px;
}
.header {
  border-bottom: 4px solid #ffc000;
  background: url('../images/bg.png') repeat;
}
.header .bg-pat {
  background: url('../images/bg-pat.png') repeat-x bottom;
  padding: 10px;
}
.header .brand {
  padding: 15px;
}
.header .navbar-default {
  margin-top: 30px;
}
.header .navbar-default .btn-default:hover,
.header .navbar-default .btn-default:focus,
.header .navbar-default .btn-default:active,
.header .navbar-default .btn-default.active,
.header .navbar-default .open .dropdown-toggle.btn-default {
  background: #ffc000;
  color: #ffffff;
}
.header .navbar-default .btn {
  border: none;
  border-radius: 0;
  font-size: 16px;
}
.widget {
  margin: 0;
  padding: 30px 0 5px 0;
  display: table;
  width: 100%;
}
.widget .t-head {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
}
.widget .t-head p {
  margin: 0;
  padding: 0;
  display: table-row-group;
}
.widget .t-head .litle-t {
  font-size: 14px;
  font-weight: normal;
}
.widget .t-head a {
  text-decoration: none;
}
.widget .t-head i {
  font-size: 50px;
  vertical-align: bottom;
  margin-right: 10px;
}
.widget .t-head h3 {
  margin: 0;
  display: table;
}
.bg-center {
  background: #000000;
  margin: 15px 0;
  color: #E8E8E8;
}
.bg-center .bg-c-top {
  background: url('../images/top-bg-center.png') no-repeat center;
  height: 40px;
}
.bg-center .bg-c-btm {
  background: url('../images/btm-bg-center.png') no-repeat center;
  height: 40px;
}
.bg-center .weare {
  margin: 20px 0;
}
.bg-center h2 a {
  color: #8CC63F;
  text-decoration: none;
}
.bg-center .testi {
  margin: 20px 0;
}
.bg-center .testi .testi-box {
  margin: 20px 0;
  background: #3A3A3A;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  color: #ffc000;
  position: relative;
}
.bg-center .testi .testi-box .ar1 {
  background: url('../images/ar1.png') no-repeat center;
  width: 50px;
  height: 30px;
  position: absolute;
  bottom: -26px;
  left: 40px;
}
.bg-center .testi .user-testi {
  font-weight: bold;
  padding: 2px 10px;
  margin-top: 10px;
}
.bg-center .testi .user-testi img {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-right: 5px;
  background: #fff;
  border: 1px solid #ccc;
}
.content {
  margin-bottom: 20px;
}
.last-project {
  /* BXSlider
		************/
  /* Misc */
}
.last-project .featured-brand {
  margin-bottom: 20px;
  display: table;
  /* Slide right content */
}
.last-project .featured-brand #slide-right h3 {
  background: #3d4c54;
  color: #FFF;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 5px 0;
  text-align: center;
}
.last-project .featured-brand #slide-right ul {
  background: #f2f2f2;
  margin: 0;
  padding: 5px;
  counter-reset: li;
  /* Initiate a counter */
}
.last-project .featured-brand #slide-right ul li {
  background: #FFF;
  margin: 13px 12px;
  padding: 1em;
  list-style: none;
  position: relative;
  /* Create a positioning context */
}
.last-project .featured-brand #slide-right ul li:last-child {
  display: none;
}
.last-project .featured-brand #slide-right ul li:after {
  background: #FF8C8C;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 8%;
}
.last-project .featured-brand #slide-right h4 {
  font-weight: normal;
  margin: 0 5px 0 0;
}
.last-project ul.bxslider,
.last-project ul.gallery {
  margin: 0;
  padding: 0;
}
.last-project .bx-wrapper .meta {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 0.5em 0;
}
.last-project .bx-controls {
  position: absolute;
  right: 5px;
  top: 0px;
}
.last-project .bx-prev,
.last-project .bx-next {
  background: url('../images/bx-bg.png') no-repeat;
  display: inline-block;
  height: 27px;
  width: 30px;
}
.last-project .bx-next {
  background-position: -30px;
}
.last-project .bx-wrapper h4 {
  font-weight: normal;
}
.last-project #gallery {
  position: relative;
}
.last-project h4.post-title {
  color: #555e6b;
  line-height: 1.3em;
  margin: 10px 0;
  position: relative;
  font-size: 12px;
}
.last-project .post-icon {
  float: left;
  margin-right: 10px;
}
.last-project a.image_thumb_zoom {
  position: relative;
  overflow: hidden;
  display: block;
}
.last-project a.image_thumb_zoom img {
  width: 100%;
}
.last-project a.image_thumb_zoom img {
  position: relative;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.last-project a.image_thumb_zoom:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.client {
  margin-bottom: 15px;
}
.client ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.client ul li {
  display: inline-table;
  margin: 5px;
}
.client ul li img {
  width: 100px;
}
.jdlimage {
  position: relative;
}
.jdlimage h2 {
  position: absolute;
  bottom: 10px;
  left: 8%;
}
.about .form-group {
  margin-bottom: 15px;
}
.about .form-group textarea {
  width: 100%;
}
.right-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.right-widget ul li {
  margin-bottom: 5pz;
}
.list-prod {
  margin-bottom: 20px;
  border-bottom: 3px double #ccc;
  padding-bottom: 15px;
}
.list-prod .prod {
  background: #F5F5F5;
  padding: 15px;
  margin: 5px 0;
}
.list-prod h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 15px;
}
.list-prod img {
  width: 145px;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
  padding: 2px;
}
.list-prod p {
  padding-left: 160px;
}
.highlight {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  margin-bottom: 14px;
  padding: 9px 14px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width: 1px;
  margin-left: 0;
  margin-right: 0;
}
.highlight pre {
  background-color: transparent;
  border: 0 none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  word-break: normal;
}
.highlight pre code {
  white-space: pre-line;
  font-size: 14px;
}
.blog-post {
  border-bottom: 1px dashed #898989;
  margin-bottom: 10px;
  padding-bottom: 30px;
  text-shadow: 1px 1px 0 #fff;
}
.blog-heading {
  margin-bottom: 30px;
}
.blog-heading .blog-meta-info {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 0 #ffffff, 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
  padding: 5px 10px;
}
.blog-heading .blog-meta-info span {
  color: #898989;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
.blog-heading .blog-meta-info span:last-child:after {
  content: "";
}
.blog-heading .blog-meta-info span:after {
  color: #999;
  content: "|";
  font-size: 14px;
  font-weight: lighter;
  line-height: 16px;
  padding: 0 10px;
}
.comment-list {
  margin-left: 0;
  padding: 0;
}
.comment-list .comment-wrap {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  margin: 20px 0;
  padding: 20px;
  border-left-color: #f0ad4e;
  background: #F7F7F9;
}
.comment-list .comment-wrap .avatar-wrap {
  float: left;
  margin-right: 15px;
  max-height: 70px;
  max-width: 70px;
}
.comment-list .comment-wrap .avatar-wrap .avatar img {
  width: 100%;
  border: 1px solid #ccc;
  padding: 1px;
}
.comment-list .comment-author a {
  color: #555;
  font-family: 'TitilliumText22LBold', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.comment-list .comment-detail {
  overflow: hidden;
}
.comment-list .comment-detail .comment-meta {
  padding-bottom: 10px;
}
.footer {
  padding: 20px 0;
  background: #000000;
  min-height: 100px;
  color: #F4F4F4;
  border-top: 4px solid #ffc000;
}
.footer ul {
  padding: 0;
  margin: 0;
}
.footer .latest-post ul li {
  width: 100%;
  display: table;
  margin-bottom: 8px;
}
.footer .latest-post img {
  width: 90px;
  float: left;
  margin-right: 10px;
}
.footer .latest-post h4 {
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.footer .latest-post h4 a {
  color: #ffc000;
}
.footer .latest-post .thumb {
  width: 91px;
}
.footer .latest-post .post-time {
  font-size: 13px;
}
.footer .socmed ul {
  margin-left: 0;
}
.footer .socmed ul li {
  border-left: 1px solid #262424;
  float: left;
  text-align: center;
  width: 32.7%;
}
.footer .socmed ul li img {
  border: none;
}
.footer .socmed ul li:last-child {
  border-right: 1px solid #262424;
}
.footer #copyright {
  border-top: 1px solid #757575;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
